* text=auto

*.ts text
*.js text
*.html text
*.css text
*.scss text
*.json text
*.md text
*.py text
*.sh text eol=lf
Dockerfile text
.dockerignore text

*.component.html linguist-language=TypeScript
*.component.scss linguist-language=TypeScript

*.sh linguist-detectable=true
Dockerfile linguist-detectable=true

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.mp4 binary
*.mp3 binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

*.sln text eol=crlf